@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

    <form class="error-container" action="@Model.RedirectUrl">
        <h1>@Model.Message</h1>
        <input type="submit" value="Ок" />
    </form>